
ctcsound==6.17.1
tensorflow==2.11.0
numpy==1.21.6
matplotlib==3.5.3
pandas==1.3.5

click==7.0
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cligj==0.7.0
cloudpickle==2.2.1
cmake==3.25.0
cmudict==1.0.15
colorama==0.4.6
colorlog==6.7.0
commonmark==0.9.1
compressed-rtf==1.0.6
config==0.5.1
configobj==5.0.8
contourpy==1.0.7
convertdate==2.4.0
countryinfo==0.1.2
cryptography==40.0.2
css-parser==1.0.7
cssselect2==0.7.0
ctcsound==1.2.2
cuda-python==12.0.01
cudf==22.12.0
cugraph==22.12.0
cupy-cuda11x==12.0.1
cycler==0.11.0
cymem==2.0.7
Cython==0.29.36
cytoolz==0.12.1
daal4py==2023.1.1
dash==2.9.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
data==0.4
dataframe-image==0.1.1
datasets==2.14.5
deap==1.4.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dgl==1.1.0
dill==0.3.7
distro==1.8.0
dlib==19.22.1
dnspython==2.4.2
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.18.1
dotmap==1.3.30
duckdb==0.8.1
duet==0.2.8
dulwich==0.21.5
earthengine-api==0.1.362
easydict==1.10
editdistance==0.6.2
efficientnet-pytorch==0.7.1
einops==0.6.1
fastai==2.7.12
fastapi==0.99.1
fasteners==0.19
fastjsonschema==2.18.0
fastprogress==1.0.3
ffmpeg-python==0.2.0
ffmpy==0.3.0
fgvc==0.2
filelock==3.13.1
fiona==1.8.22
flask==3.0.0
flask-cors==4.0.0
flatbuffers==23.5.26
folium==0.14.0
frozenlist==1.4.0
fsspec==2023.6.0
fuzzywuzzy==0.18.0
future==0.18.3
gcsfs==2023.6.0
geographiclib==1.52
geopy==2.3.0
gevent==23.7.0
gdown==4.7.1
gensim==4.3.1
geographiclib==1.52
google==3.0.0
